@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #d1dae2;
}

body {
  width: 100%;
  height: 100vh;
  min-width: 350px;
  min-height: 665px;
  background-color: #121212;
  overflow: hidden;
  position: relative;
}

#backgroundBlur {
  width: 100%;
  height: 100%;
  background-color: #2323095f;
  position: relative;
}

#backgroundBlur #bgPlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
  z-index: -1;
}

body main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
}

main .wrap {
  width: 600px;
  height: 100%;
  min-width: 350px;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .wrap p {
  max-width: 350px;
  margin-top: 30px;
  text-align: center;
  letter-spacing: 0.6px;
  word-spacing: 2px;
}

main .button-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  gap: 8px;
}

#newFaceTime,
#joinFaceTime,
#back {
  min-width: 160px;
  height: 70px;
  padding: 15px 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 15px 70px #00000055;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

#newFaceTime {
  background-color: #00f731b3;
}

.button-wrapper > div:hover {
  scale: 1.05;
}

.button-wrapper > div > i {
  font-size: 20px;
  color: #fff;
}

body > section {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 100%;
  left: 0;
  background-color: transparent;
  overflow: hidden;
}

.section-wrap {
  width: 350px;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#join-form {
  width: 350px;
  height: 466px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#join-form input {
  width: 100%;
  font-size: 16px;
  padding: 20px;
  caret-color: #00f731b3;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 15px 70px #00000055;
}

.btn-wrap {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 8px;
}

.btn-wrap > button {
  min-width: 150px;
  height: 70px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 15px 70px #00000055;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.6px;
  cursor: pointer;
  transition: 0.3s;
}

#back {
  width: 150px;
}

.btn-wrap #join {
  background-color: #00f731b3;
}

.btn-wrap button:hover,
.btn-wrap #back:hover {
  scale: 1.05;
}

.btn-wrap button i {
  font-size: 20px;
  color: #fff;
}
.btn-wrap button span {
  color: #fff;
}

/* 
.videos .user-1 {
  width: 250px;
  height: 150px;
  position: absolute;
  top: 40px;
  left: 40px;
  background-color: red;
  border-radius: 15px;
  overflow: hidden;
} */

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
}
